/* Global Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Poppins", sans-serif;
}


:root {

  /* Colors */
  --lavander-mist : #E3E6F3;

  --grey-1: #D5D5D5;
  --grey-2: #C1C1C1;
  --grey-3: #AAAAAA;
  --grey-4: #808080;
  --grey-5: #6B6B6B;
  --grey-6: #565656;

  /* transition */
  --transition : all 0.3 ease;
}

.section-title {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

/* ANIMATIONS------------------------ */

.slide-top {
  -webkit-animation: slide-top 0.5s ease-out both;
  animation: slide-top 0.5s ease-out both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}


/* HEADER */


#header {
  background: var(--lavander-mist);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
}

#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--grey-4);
}

#navbar li.profile-bar {
  display: flex;
  align-items: center;
}

#navbar li button.icon-container {
  margin-right: 10px;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: transparent;
  border-radius: 50%;
  background-color: var(--lavander-mist);
  transition: background-color 0.3s;
  cursor: pointer;
}

#navbar li button.icon-container:hover {
  background-color: var(--grey-2);
}

#navbar li button.icon-container i {
  font-size: 20px;
}

#navbar li button.icon-container .notification{
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #D41212;
  color: white;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  font-size: 13px;
  place-items: center;
}

#navbar li button.userprofile {
  border: none;
  background-color: transparent;
}

#navbar li.sidebar-toggler {
  display: none;
}


/* HERO */

#hero {
  background-image: url("./images/index/hero-background.png");
  background-size: cover;
  background-position-x: 75%;
  background-repeat: no-repeat;
  height: 700px;
  animation: hero-moving 5s linear infinite;
}

@keyframes hero-moving {
  0% {
    background-position-x: 75%;
  }
  25% {
    background-position-x: 85%
  }
  50% {
    background-position-x: 95%;
  }
  75% {
    background-position-x: 85%
  }
  100% {
    background-position-x: 75%;
  }
}

#hero .hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#hero .planet-container {
  position: relative;
}

#hero .planet-container .planet img{
  position: absolute;
  left: 130px;
  top: 100px;
  width: 350px;
}

#hero .planet-container .profile {
  background: url("./images/index/hero-profile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  position: absolute;
  left: 167px;
  top: 200px;
  box-shadow: 0 0 10px 5px #ffff;
}

#hero .astronaut-container {
  text-align: center;
}

#hero .astronaut-container h1 {
  color: #ffff;
}

#hero .astronaut-container .astronaut {
  position: relative;
}

#hero .astronaut-container .astronaut a {
  position: absolute;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #ffff;
}

#hero .astronaut-container .astronaut a img {
  width: 170px;
}

#hero .astronaut-container .astronaut .workout {
  left: -20px;
  top: 0;
}

#hero .astronaut-container .astronaut .books {
  right: 0;
  top: 40px;
}

#hero .astronaut-container .astronaut .skills {
  left: 0;
  bottom: -60px;
}

#hero .astronaut-container .astronaut .thoughts {
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: 20% 50%;
}
